/.venv
/.idea
/libs/trufflehog_linux
/libs/trufflehog_macos
/libs/trufflehog_windows.exe
/libs/gplaylci.conf
/googleplay-api
/apps/*.apk
/apps/decompile_temp
/*/__pycache__
/reports/*.html
/reports/*.json
/libs/*64
/libs/*64.exe
/libs/installed.conf